:root {
  --first: #a7c0b0;
  --second: #617a7a;
  --third: #5c5958;
  --fourth: #1f1b1a;
  --border-radius: 5px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--first);
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--fourth);
  line-height: 1.5;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0;
  color: var(--fourth);
  line-height: 1.25;
}

h2 a:visited {
  color: var(--second);
}

h2 a {
  color: var(--first);
}

header {
  margin-top: 50px;
}

main {
  margin: 20px auto;
  width: 94%;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.2rem;
}

input {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

.card-header h2 {
  color: var(--first);
}

.btn {
  font-size: 1.3rem;
  text-decoration: none;
  padding: 6px 5px;
  width: 100%;
  display: block;
  margin: 5px 0;
  border-radius: var(--border-radius);
  color: var(--first);
  border: none;
  outline: none;
  background-color: var(--third);
  box-shadow: 3px 3px var(--fourth);
  transform: translate(-1px, -1px);
}

.btn:hover {
  color: var(--first);
  background-color: var(--second);
  transform: translate(0, 0);
  box-shadow: 2px 2px var(--fourth);
}

.btn-inline {
  display: inline;
}

.li-inline {
  display: inline;
}

.navbar {
  width: 100%;
  position: fixed;
  background-color: var(--fourth);
}

.nav-item {
  margin: 0 40px;
}

.nav-item a {
  color: var(--first);
}

.hero {
  padding: 3% 4%;
  background-color: var(--fourth);
  color: var(--first);
}

.hero p {
  max-width: 75%;
}

.app-title {
  font-size: 3rem;
  background-color: var(--first);
  color: var(--fourth);
  padding: 0 10px;
  display: inline-block;
  border-radius: var(--border-radius);
  box-shadow: 6px 5px var(--third);
}

.app-title a {
  color: var(--fourth);
}

.list-group {
  padding: 1%;
}

.list-item {
  margin-bottom: 10px;
  padding: 1.5%;
  border-radius: var(--border-radius);
  background-color: var(--third);
  color: var(--first);
  text-decoration: none;
}

.list-item:hover {
  background-color: var(--fourth);
}

.footer a {
  display: inline-block;
  padding: 1em;
  margin-bottom: .5em;
  background-color: var(--fourth);
  color: var(--first);
  border-radius: var(--border-radius);
  text-decoration: none;
}

/* CARDS */
.card {
  margin: 0 0 20px 0;
  border: 3px solid var(--fourth);
  border-radius: var(--border-radius);
}

.card-header {
  color: var(--first);
  background-color: var(--fourth);
  padding: 1%;
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

.card-body {
  padding: 1%;
}

/* FORM */
.form-label,
.form-input,
.form-textarea {
  display: block;
}

.form-label {
  font-size: 1.1rem;
  margin: 0 0 0 5px;
}

.form-input {
  width: 100%;
  padding: 1%;
  margin: 5px 0;
  font-size: 1.2rem;
  border: 2px solid var(--third);
  border-radius: var(--border-radius);
}
